@font-face {
    font-family: playfair;
    src: 
        url(Fonts/playfairdisplay-regular-webfont.woff2) format("woff2"),
        url(Fonts/playfairdisplay-regular-webfont.woff) format("woff");
}

:root {
    --icon-size: 1.8rem;
    --profile-size: 3rem;
    --font-size: 1rem;
    --added-size: 0.2rem;
    --sidebar-clr: #1992D4;
    --sidebar-darker-clr: #0f6fa3;
    --header-bg-clr: #FFFFFF;
    --blk-clr: black;
    --purple-clr: blueviolet;
    --gr-clr: gray;
    --main-bg-clr: #E2E8F0;
    --shadow-clr: rgba(0, 0, 0, 0.25);
    --brd-clr: #F0B429;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 
        playfair, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
        'Helvetica Neue', sans-serif;
    font-size: var(--font-size);
    font-weight: 600;
}

.sidebar,
header,
main {
    padding: var(--font-size);
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    padding: var(--font-size) var(--profile-size);
    background-color: var(--header-bg-clr);
    box-shadow: 0 4px 6px var(--shadow-clr);
    z-index: 1;
}

header > * {
    display: flex;
    align-items: center;
}

header > div:last-child {
    justify-content: space-between;
    gap: var(--added-size);
}

header > div:nth-child(2) {
    justify-content: center;
}

header > div:nth-child(2) > * {
    margin-left: var(--font-size);
}

input {
    max-width: 500px;
    width: 100%;
    border-radius: var(--font-size);
    border: none;
    padding: var(--added-size);
    background-color: var(--main-bg-clr);
}

header a ,
.sidebar a {
    text-decoration: none;
}

.btns > button {
    border-radius: var(--icon-size);
    background-color: var(--sidebar-clr);
    color: var(--header-bg-clr);
    padding: calc(var(--font-size) - var(--added-size) - var(--added-size));
    font-weight: 600;
    width: 100px;
    border: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 250px 4fr;
    height: 100%;
}

.icon {
    height: var(--icon-size);
    width: var(--icon-size);
    margin-right: var(--font-size);
}

.icon.profile {
    height: var(--profile-size);
    width: var(--profile-size);
}

.icon.profile-pic {
    height: calc(var(--icon-size) + var(--profile-size));
    width: calc(var(--icon-size) + var(--profile-size));
}

.icon.profile,
.icon.profile-pic {
    border-radius: 50%;
}

.notification,
.circle-pic,
.group button {
    all: unset;
    cursor: pointer;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: var(--sidebar-clr);
    color: var(--header-bg-clr);
    display: grid;
    grid-template-rows: auto;
    gap: var(--profile-size);
    align-content: start;
    font-size: calc(var(--font-size) + var(--added-size));
}

.sidebar .icon {
    fill: var(--header-bg-clr);
}

.sidebar h1 {
    font-size: calc(var(--font-size) + var(--font-size) - var(--added-size));
}

.sidebar .dash.icon {
    height: calc(var(--icon-size) + var(--icon-size));
    width: calc(var(--icon-size) + var(--icon-size));
    margin-right: var(--added-size);
}

.sidebar .group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--font-size);
    margin-bottom: var(--font-size);
}

main {
    background-color: var(--main-bg-clr);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    padding: 2rem;
    gap: var(--icon-size);    
}

main .left {
    display: grid;
    grid-template-rows: 50px auto;
}

main .left h2,
main .right h2 {
    align-self: center;
    font-size: calc(var(--font-size) + var(--added-size));
}

.card {
    display: flex;
    border-left: 0.8rem solid var(--brd-clr);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
}

.card,
.panel {
    box-shadow: 8px 5px 10px 0px var(--shadow-clr);
    background-color: var(--header-bg-clr);
    padding: calc(var(--font-size) + var(--font-size));
    border-radius: calc(var(--font-size) - var(--added-size));
}

.card .int-icons {
    align-self: flex-end;
}

.card p {
    align-self: flex-start;
}

.projects {
    width: 100%;
    border-radius: calc(var(--font-size) - var(--added-size));
    border: none;
}

.card .img-container {
    display: block;
    width: 90%;
}

main .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(450px, 500px);
    gap: var(--icon-size);
}

main .right {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    align-content: start;
    gap: var(--profile-size);
}

.right .panel-container {
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: minmax(200px, 500px);
}

.panel-container .panel {
    display: grid;
    grid-template-rows: auto;
}

.panel div {
    padding: 1rem;
}

.panel .middle {
    border-top: 2px solid var(--gr-clr);
    border-bottom: 2px solid var(--gr-clr);
}

.description {
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
}

.trending.panel > div {
    display: flex;
}

input:focus {
    border: 1.5px solid var(--gr-clr);
}

header a:link {
    color: var(--sidebar-clr);
}

header a:visited {
    color: var(--purple-clr);
}

header a:hover {
    cursor: pointer;
    transition: 0.1s;
    font-size: calc(var(--font-size) + 1px);
}

.sidebar a:link,
.sidebar a:visited {
    color: var(--header-bg-clr);    
}

.sidebar a:hover {
    transition: 0.3s;
    font-size: 1.4rem;
}

header .icon:hover,
main .icon:hover,
.icon.profile:hover,
.icon.profile-pic:hover,
header > div > button:hover,
.img-container {
    cursor: pointer;
    transition: 0.3s;
}

input:hover {
    transition: 0.1s;
    border: 0.5px solid var(--gr-clr);
}

header .icon:hover,
main .icon:hover {
    height: calc(var(--icon-size) + var(--added-size));
    width: calc(var(--icon-size) + var(--added-size));
}

.icon.profile:hover {
    height: calc(var(--profile-size) + var(--added-size));
    width: calc(var(--profile-size) + var(--added-size));
}

.icon.profile-pic:hover {
    height: calc(var(--icon-size) + var(--profile-size) + var(--added-size));
    width: calc(var(--icon-size) + var(--profile-size) + var(--added-size));
}

.btns > button:hover {
    width: 115px;
    padding: calc(var(--font-size) - var(--added-size));
    background-color: var(--sidebar-darker-clr);
}

.img-container:hover {
    width: 95%;
}